# Libraries
*.lvlibp
*.llb

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe

# Ignorowanie plików tymczasowych LabVIEW
*.bak
*.lvproj
*.lvclass
*.lvlib
*.lib
*.ctt
*.log
*.tmp

# Ignorowanie folderów tymczasowych
build/
deploy/
output/

# Metadata
*.aliases
*.lvlps
.cache/
